@import "tailwindcss";

/* Rolagem suave nativa para os links âncora */
html {
  scroll-behavior: smooth;
}

/* Animação do carrossel de clientes */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}